[submodule "engine/extern/glfw"]
	path = engine/extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/extern/glm"]
	path = engine/extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "engine/extern/entt"]
	path = engine/extern/entt
	url = https://github.com/skypjack/entt.git
[submodule "engine/extern/rapidjson"]
	path = engine/extern/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "engine/extern/imgui"]
	path = engine/extern/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "engine/extern/optick"]
	path = engine/extern/optick
	url = https://github.com/bombomby/optick.git
[submodule "assets/glTF"]
	path = assets/glTF
	url = https://github.com/KhronosGroup/glTF-Sample-Assets.git
