[submodule "engine/extern/glfw"]
	path = engine/extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/extern/glm"]
	path = engine/extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "engine/extern/entt"]
	path = engine/extern/entt
	url = https://github.com/skypjack/entt.git
[submodule "engine/extern/rapidjson"]
	path = engine/extern/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "editor/extern/SDL"]
	path = editor/extern/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "editor/extern/SDL_image"]
	path = editor/extern/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = SDL2
